@use "global" as *;


/* プレイスフォルダー色指定
=====================================================*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $green2;
    font-size:  rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $green2;
    font-size:  rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用
}
::placeholder{ /* Others */
    color: $green2;
    font-size:  rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用
}