@use "global" as *;

.faq-list__item {
	background-color: #fff;
    box-shadow: 0 0 rem(40) 0 rgba(0, 0, 0, .05);

    margin-right: auto;
    margin-left: auto;
    @include mq("md") {
        max-width: rem(700);
    }

}

.faq-list__item + .faq-list__item {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.faq-list__item-question {

    padding: rem(16) rem(16) rem(16) rem(16);
    position: relative;
    background-color: $green1;
    cursor: pointer;

    color: $white;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用

    @include mq(md){

        padding: rem(26) rem(40) rem(25) rem(40);
        font-size: rem(20);
    }
}

.faq-list__item-question::before,
.faq-list__item-question::after {
    content: "";
    position: absolute;
    top: rem(26);
    right: rem(16);
    width: rem(28);
    height: rem(1);
    background: $white;
    transition: .3s;
    
    @include mq(md){
        top: rem(40);
        right: rem(40);
        width: rem(32);
    }
}

.faq-list__item-question::after {
    transform: rotate(90deg);
}

.faq-list__item-question.is-open::after {
    transform: rotate(0deg);
}

.faq-list__item-answer {
    padding: rem(25) rem(16) rem(25) rem(16);
    display: none;

    border: 1px solid $green1;
    color: $main-black;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: 1.4;

    @include mq(md){
        padding: rem(40) rem(40) rem(40) rem(39);
        margin-top: rem(16);

    }
}