@use "global" as *;


.footer-sns {
    align-items: flex-end;
    display: flex;
    margin-bottom: rem(16);

    @include mq("md") {
        margin-left: rem(40);
        margin-bottom: inherit;
    }
}

.footer-sns__items {
    display: flex;
}

.footer-sns__item {
    width: rem(24);
    height: rem(24);
    margin-right: rem(16);
    margin-top: rem(16);
    transition: all .5s;

    @include mq("md") {
        width: rem(32);
        height: rem(32);
        margin-right: rem(16);
    }

}

.footer-sns__item:last-child {
    margin-right: 0;
}


.footer-sns__item:hover {
    opacity: .5;
}