@use "global" as *;

.footer-nav {
    height: inherit;
    margin-top: rem(-13);
    justify-content: center;
    display: flex;

    @include mq(md) {
        justify-content: inherit;
        display: inline-block;
    }
}

.footer-nav__contents {
    display: flex;
    // justify-content: space-around;
    margin-left: rem(12);
    margin-top: rem(10);
    gap: rem(18);
    justify-content: space-around;
    width: 100%;

    @include mq("md") {
    justify-content: inherit;
    margin-left: inherit;
    margin-top: rem(19);
    gap: rem(0);
    }
}

.footer-nav__sitemapContents {
    display: flex;
    // justify-content: space-around;
    gap: rem(51);
    margin-left: rem(22);
    margin-top: rem(10);
    justify-content: space-around;
    width: 100%;

    @include mq("md") {
    justify-content: inherit;
    gap: rem(22);
    margin-left: rem(0);
    margin-top: rem(19);
    }
}

.footer-nav__content {

    @include mq("md") {
        display: flex;
    }
}

.footer-nav__sitemapContent {

    @include mq("md") {
        display: flex;
        gap: rem(25);
    }
}

.footer-nav__item {

  }

  .footer-nav__item ul {
    margin-top: rem(-2);
  }

.footer-nav__items-column {
    list-style-type: none;

    @include mq("md") {
    width: inherit;
    margin-right: rem(120);
    margin-left: rem(22);
    }
  }

.footer-nav__items-columnEnd {
    list-style-type: none;

    @include mq("md") {
    width: inherit;
    margin-right: rem(0);
    margin-left: rem(22);
    }
  }



.footer-nav__item a {
    //クリック領域を大きくとる（横に広げる）→   display: block;か　inline-block;にする
    display: inline-block;
    width: 100%;
    margin-top: rem(0);
    padding-top: rem(15);
    padding-bottom: rem(15);
    text-align: left;

    color: $white;
    font-size: rem(16);
    font-style: normal;
    font-weight: 700;
    line-height: 1.125; /* 112.5% */
    margin-top: rem(11);

    position: relative;

    @include mq("md") {
        transition: .5s ;   
        padding-top: rem(20);
        padding-bottom: rem(20);
        margin-top: 0;
    }

}

.footer-nav__item.footer-nav__item--black a {
    color: $main-black;
}

.footer-nav__item .footer-nav__item-child a {
    padding-top: rem(11);
    padding-bottom: rem(13);
    font-weight: $regular;
    margin-top: rem(0);

    @include mq("md") {
        padding-top: rem(6);
        padding-bottom: rem(19);

    }
}

.footer-nav__item a:hover,
.footer-nav__item-child a:hover  {
    opacity: .5;
}

.footer-nav__item span a::before{
    position: absolute;
    content: "";
    top: rem(26);
    left: rem(-22);
    width: rem(18);
    height: rem(18);
    transform: translateY(-50%);
    background: url(../images/common/icon-hitode.svg) no-repeat center center/contain;

    @include mq("md") {
        top: rem(31);
    }

}


.footer-nav__item.footer-nav__item--black span a::before {
    background: url(../images/common/icon-hitode-black.svg) no-repeat center center/contain;
}

.footer-nav__item-child {
    color: $white;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: 1.125; /* 112.5% */


    @include mq("md") {
        transition: .5s ;   
    }
}
