@use "global" as *;

.form-select select {
    padding: rem(11) rem(50) rem(11) rem(8);
    width: 100%;
    border-radius: 0;
    border: 1px solid $green1;
    background-image: url(./../images/common/arrow-contact.png);
    background-repeat: no-repeat;
    background-size: rem(15);
    background-position: right rem(10) top rem(10);
    appearance: none;
    cursor: pointer;

    color: #000;
    font-size: rem(12);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用

    @include mq("md") {
        padding: rem(7) rem(50) rem(6) rem(8);
    }
}

::-ms-expand {
    display: none;
}

.form-select select:focus {
    border: 1px solid $green1;
    box-shadow: none;
		outline: none;
}