@use "global" as *;

.form-input input {
	padding: rem(9) rem(15) rem(9) rem(15);
	width: 100%;
	font-size: rem(15);
	line-height: 1;
	border-radius: 0;
	border: 1px solid $green1;
	appearance: none;
	background-color: transparent;
	background-image: none;

	@include mq("md") {
    	padding: rem(9) rem(15);
		width: 100%;
		font-size: rem(15);
		line-height: 1;
		border-radius: 0;
		border: 1px solid $green1;
		appearance: none;
		background-color: transparent;
		background-image: none;
	}
}

.form-input input:focus {
	border: 1px solid $green1;
	box-shadow: none;
	outline: none;
}
