@use "global" as *;

.form__wrap {
    border-bottom: 2px dotted $green1;
    padding-bottom: rem(24);

    @include mq(md){
        display: flex;
        // align-items: center;
        border-bottom: 2px dotted $green1;
        padding-bottom: rem(40);
    }
}


.form__wrap + .form__wrap {
    margin-top: rem(21);

    @include mq("md") {
        margin-top: rem(37);
    }
}

.form__wrap:nth-child(4) {
    padding-bottom: rem(24);

    @include mq("md") {
        padding-bottom: rem(37);
    }
}

.form__wrap:nth-child(5) {
    align-items: center;
    margin-top: rem(22);

    @include mq("md") {
        margin-top: rem(34);
    }
}

.form__wrap:nth-child(6) {
    padding-bottom: rem(19);

    @include mq("md") {
        padding-bottom: rem(35);
    }
}


.form__label {
    // line-height: 1;
    // letter-spacing: 0.08em;

    color: $main-black;
    font-size: rem(16);
    font-style: normal;
    font-weight: $bold;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用
    @include mq(md){
        max-width: rem(220);
        width: 100%;
    }
}


.form__label span {
    background-color: #C94800;
    color: $white;
    font-size: rem(12);
    font-style: normal;
    font-weight: $regular;
    letter-spacing: rem(4.8);
    line-height: normal;//ブラウザのデフォルトの行間隔を使用
    margin-left: rem(8);
    padding: rem(3) rem(11) rem(3) rem(12);
    display: inline-block;
    text-indent: 0.3em;
}



.form__input,
.form__select,
.form__radio,
.form__checkbox,
.form__textarea {
    margin-top: rem(14);
    @include mq(md){
        margin-top: 0;
    }
}

.form__radio {
    margin-top: rem(18);
    @include mq(md){
        margin-top: 0;
    }
}

.form__select {
    margin-top: rem(15);
    @include mq(md){
        margin-top: 0;
    }
}

.form__input,
.form__textarea,
.form__select {
    flex-grow: 1;
}

.form__privacy {
    margin-top: rem(40);
    text-align: center;
  
    @include mq("md") {
      margin-top: rem(76);
    }
  }
  
  .form__privacy input + span {
    cursor: pointer;
    display: inline-block;
    font-size: rem(14);
    padding: 0 0 0 rem(31);
  
    @include mq("md") {
      padding: 0 0 0 rem(36);
    }
  }
  
  .form__privacy input + span::before {
    width: rem(22);
    height: rem(22);
  }






.form__submit {
    margin-top: rem(26);
    text-align: center;

    @include mq("md") {
        margin-top: rem(40);
    }
}