@use "global" as *;

.information-card{
    box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
    background-color: $white;
    padding: rem(24) ;
    border: 1px solid $green1;

    @include mq("md") {
        padding: rem(24) rem(24) rem(24) rem(24);
    }
  }
  

  .information-card__content{

    
    @include mq("md") {
      display: flex;
      align-items: center;
    }
  }

  .information-card__info {
    // width: 92%;
    width: 100%;
    @include mq("md") {
      width: 50%;
    }
  }

  

  .information-card__title{
    margin-top: rem(-6);
    color: $main-black;
    font-size: rem(24);
    font-style: normal;
    font-weight: $bold;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用

    @include mq("md") {
      margin-top: rem(-3);
      font-weight: $medium;
    }
  }

  hr.information-card__line {
    border: 1px solid $green1;
    margin: rem(0) rem(0) rem(0) rem(0);
}

.information-card__img{
  margin-top: rem(8);
  width: 100%;
  aspect-ratio: 492 / 313;// 横320 / 縦200

  @include mq("md") {
    width: 50%;
    margin-left: rem(48);
    margin-top: rem(0);
  }
}

.information-card__img img {
  aspect-ratio: 492 / 313;
  object-fit: cover;
}

  .information-card__text{
    color: $main-black;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: 1.5; /* 150% */
    margin-top: rem(8);

    @include mq("md") {
      margin-top: rem(8);
    }
  }