@use "global" as *;

.page-blog{

}

.page-blog__inner {
    position: relative;

    @include mq("md") {
        display: flex;
    }
}


.page-blog__inner::before {

    background-image: url(../images/common/voice-fish.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: rem(2);
    transform: translateY(-50%);
    width: rem(120);
    height:rem(50);
    left: calc(50% - min(45vw, rem(368)));
    z-index: -1;

    @include mq("md") {
      top: 2.8%;
      width: rem(290);
      height: rem(138);
      left: calc(50% - min(48vw, rem(614)));
    }
  }

  .page-blog__content {

    @include mq("md") {
      width: 70%;
    }
  }

  .page-blog__cards {
    margin-top: rem(27);
    padding-right: rem(6);
    padding-left: rem(6);

      @include mq("md") {
        margin-top: rem(81);
        padding-right: rem(0);
        padding-left: rem(0);
      }
  }

  .page-blog__pagenavi {
    margin-top: rem(77);

    @include mq("md") {
        margin-top: rem(80);
    }
  }

  .page-blogDetail__article {

    @include mq("md") {
      margin-top: rem(75);
    }

  }




  .page-blog__sidebar {

    @include mq("md") {
      width: 29%;
      margin-left: rem(80);
    }
  }

  