@use "global" as *;

.page-terms {

}

.page-terms__inner {
    position: relative;
  }

.page-terms__inner::before {
    background-image: url(../images/common/voice-fish.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    width: rem(120);
    height: rem(50);
    left: calc(50% - min(45vw, rem(368)));
    z-index: -1;

    @include mq("md") {
        background-image: url(../images/common/voice-fish.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: 0%;
        transform: translateY(-50%);
        width: rem(290);
        height: rem(138);
        left: calc(50% - min(48vw, rem(614)));
    }
}


.page-terms__img {
    
}