@use "global" as *;

.page-price {

}

.page-price__inner {
    position: relative;
}


.page-price__inner::before {

    background-image: url(../images/common/voice-fish.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: rem(1);
    transform: translateY(-50%);
    width: rem(120);
    height:rem(50);
    left: calc(50% - min(45vw, rem(620)));
    z-index: -1;

    @include mq("md") {
      top: 0%;
      width: rem(290);
      height: rem(138);
      left: calc(50% - min(48vw, rem(614)));
    }
  }

  .page-price__table:nth-child(2) {
    margin-top: rem(44);
    
    @include mq("md") {
        margin-top: rem(80);
    }
  }

  .page-price__table:nth-child(3) {
    margin-top: rem(38);
    
    @include mq("md") {
        margin-top: rem(80);
    }
  }

  .page-price__table:nth-child(4) {
    margin-top: rem(37);
    
    @include mq("md") {
        margin-top: rem(80);
    }
  }