@use "global" as *;

.page-about {

}

.page-about__inner {
    position: relative;
  }

.page-about__inner::before {
    background-image: url(../images/common/voice-fish.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    width: rem(120);
    height: rem(50);
    left: calc(50% - min(45vw, rem(368)));
    z-index: -1;

    @include mq("md") {
        background-image: url(../images/common/voice-fish.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: 0%;
        transform: translateY(-50%);
        width: rem(290);
        height: rem(138);
        left: calc(50% - min(48vw, rem(614)));
    }
}

.page-about__inner::after {

    @include mq("md") {
        background-image: url(../images/common/contact.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        bottom: -38%;
        transform: translateY(-50%);
        width: rem(301);
        height: rem(138);
        right: calc(50% - min(48vw, rem(634)));
    }
}

.page-about__img-wrap {

}

.page-about__img-small {
    position: relative;
    width: 37.1014%;
    z-index: 2;
}

.page-about__img-small img {
    aspect-ratio: 128/194;
    height: 100%;
    object-fit: cover;
    width: 100%;

    @include mq("md") {
        aspect-ratio: 400/606;
    }
}


.page-about__img-big {
    margin-left: auto;
    margin-top: rem(10);
    width: 100%;
    position: relative;
    z-index: 1;

    @include mq("md") {
        margin-left: auto;
        margin-top: -48.8%;
        width: 81.45%;
        z-index: 1;
        position: initial;
    }
}

.page-about__img-big img {
    aspect-ratio: 281/186;
    height: 100%;
    object-fit: cover;
    width: 100%;

    @include mq("md") {
        aspect-ratio: 880/581;
    }
}

.page-about__content-wrap {
    margin-top: rem(40);
    
    @include mq("md") {
        display: flex;
        left: 20.1%;
        margin-top: 0;
        position: absolute;
        top: 30.5%;
        width: 74.78%;
        z-index: 2;
    }

}

.page-about__title {
    position: absolute;
    content: "";
    top: 15.5%;
    left: 37%;
    transform: translate(-50%, -50%);

    color: $white;
    font-family: $english-family;
    font-size: rem(40);
    font-style: normal;
    font-weight: $regular;
    line-height: 1; /* 100% */
    z-index: 1;

    @include mq("md") {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;

        font-size: rem(80);
        line-height: 1.25; /* 125% */
        width: 50%;
    }
}

.page-about__text-wrap {
    margin-top: rem(16);

    @include mq("md") {
        margin-left: rem(38);
        margin-top: rem(24);
        width: 50%;
    }
}

.page-about__text {
    color: $main-black;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: 1.5; /* 150% */

    @include mq("md") {
        color: $white;
    }
}


.page-about__button {
    margin-top: rem(50);
    text-align: center;
    margin-left: rem(-19);

    @include mq("md") {
        margin-top: rem(40);
        margin-left: rem(0);

    }

}

.page-about__inner::after {

    @include mq("md") {
        background-image: url(../images/common/page-about-us3.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        width: rem(194);
        height: rem(181);
        right: calc(50% - min(48vw, rem(636)));
    }
  }
