@use "global" as *;

.sidebar {
    margin-top: rem(80);

    @include mq("md") {
        margin-top: 81px;
    }

}

.sidebar__inner {
  padding-right: rem(25);
  padding-left: rem(25);

  @include mq("md") {
    padding-right: inherit;
    padding-left: inherit;
  }
}

.sidebar__popular {

}

.sidebar__title {
    padding: rem(8) rem(8) rem(8) rem(74);
    border-left: rem(7) solid $green1;

    color: $main-black;
    font-size: rem(24);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;//ブラウザのデフォルトの行間隔を使用
    position: relative;
}

.sidebar__title::before {

    position: absolute;
    content: "";
    background-image: url(../images/common/icon-blog.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 47%;
    left: rem(16);
    transform: translateY(-50%);
    width: rem(50);
    height: rem(50);
    z-index: -1;

}
.sidebar__cards {
    margin-top: rem(22);

    @include mq("md") {
      margin-top: rem(22);
    }
  }

  .sidebar__review {
    margin-top: rem(78);
    
    @include mq("md") {
      margin-top: rem(80);
    }
 
  }

  .sidebar__campaign {
    margin-top: rem(83);

    @include mq("md") {
      margin-top: rem(83);
    }
 
  }

  .sidebar__archive {
    margin-top: rem(82);

    @include mq("md") {
      margin-top: rem(82);
    }
 
  }

  .sidebar__review-cardBtn {
    text-align: center;
    margin-top: rem(45);

    @include mq("md") {
      margin-top: rem(44);
    }
  }

  .sidebar__campaign-cardBtn {
    text-align: center;
    margin-top: rem(40);
  }